/* Natalies Transition */
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
/* END of Natalies Transition */


/* Studio Name */
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("media/nat2.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


/* End of Studio Name */




/* Socials Accordion */
details {
  width: 250px;
  padding: 1rem;
  border-radius: 8px;
  background: white;
  box-shadow: 4px 4px 3px rgba(0,0,0,0.15);
}


summary {
  cursor: pointer;
}
summary h1 {
  display: inline;
  margin-left: 1rem;
  font-size: 1.25rem;
}



details p {
  margin-left: 1.75rem;
  opacity: 0.7;
} 
/* End of Socials Accordion */



/*FOOTER */
.site-footer {
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small {
  margin:20px 0
}
.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {
  color:#737373;
}
.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons {
  text-align:right
}
.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}


/* END FOOTER */


/* GAME DEV PICTURES */


/* DEV TEAM */
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#devteam {
  margin-left: 4.75rem;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 25px;
  
}
/* END DEV TEAM */



#natpro {
  margin-right:3%;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 25px;
  
}

#vid1 {
  
  margin-left:20%;
  object-position:5%;
}